@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* variables */
  --s-width: 700px;
  --s-height: 250px;
  --s-quantity: 5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #afafaf;
}
