.hero__wrapper {
  width: 1200px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.hero__line {
  width: 1200px;
  min-width: 100px;
  height: 5px;
  background-color: #0f0f0f;
  margin-bottom: 70px;
  display: flex;
  justify-content: end;
  
}
.hero__menu {
  cursor: pointer;
  margin-top: -135px;

}