/* @keyframes sliderList {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

/* .slider {
  overflow: hidden;
  padding: 50px 0;
  white-space: nowrap;
}

.slider:hover .list {
  animation-play-state: paused;
}

.list {
  display: inline-block;
  animation: 5s sliderList linear infinite
} */

/* img {
  height: 100px;
  margin: 40px;
} */


/* --------------------------- */

.slider {
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.3s ease;
  animation: sliderAnimator 1s infinite linear;
}

.list img {
  height: 250px;
  background-color: #000;
  opacity: 0.5;
  padding: 50px;
  margin: 0 50px 0 0;
  cursor: pointer;
  transition: 0.25s;
  
}


.list:hover img {
  filter: brightness(0.5);
  animation-play-state: paused !important;
}

.list img:hover {
  transform: scale(0.97);
  filter: brightness(1);
}

@keyframes sliderAnimator {
  from {
    left: 0;
  }
  to {
    left: -100px;
  }
}