body {
  border-top: 30px solid #0f0f0f;
  border-bottom: 0;
  background-image: linear-gradient(
    to right,
    #737373 0%,
    #d9d9d9 30% 70%,
    #737373 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  
}
.background__wrapper {
  position: absolute;
  z-index: -1;
}
.background__wrapper .background__img {
  max-height: 90vh;
  width: 1250px;
  object-fit: cover;
  opacity: 0.5;
}
.wrapper {
  max-width: 1200px;
  min-width: 100px;
  height: calc(100vh + 100px) !important;
}

@media screen and (max-width: 1500px) {
  .wrapper .carousel {
    min-width: 1250px !important;
    transform: translateX(-20px) !important;
    margin-left: 0;
    font-size: 0.8rem;
  }
  .carousel__item {
    width: calc(100% / 3 - 14px) !important;
  }
  body {
    height: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .footer {
    justify-content: start !important;
  }
  .footer__wrapper {
    width: 0 !important;
    gap: 15px;
  }
  .footer__popup {
    text-wrap: nowrap !important;
  }
  .footer__qr--mini {
    display: none !important;
    width: 0 !important;
  }
  .description__string {
    min-width: 600px !important;
  }
  .wrapper .carousel {
    min-width: 600px !important;
    transform: translateX(-10px) !important;
  }
  .carousel__item {
    width: calc(100% / 2.5 - 14px) !important;
  }
  .carousel__item--text {
    font-size: 2rem !important;
  }
  .background__img {
    width: 800px !important;
  }
  .description__string--text {
    font-size: 1.5rem !important;
  }
  .description__item--place {
    font-size: 1rem !important;
  }
  .description__item--time {
    font-size: 1rem !important;
  }
  .carousel__item:first-child {
    margin-left: 20px !important;
  }
  .carousel__item:last-child {
    margin-right: 20px !important;
  }
}

@media screen and (max-width: 800px) {
  .description__string {
    min-width: 600px !important;
  }
  .wrapper .carousel {
    min-width: 600px !important;
  }
  .carousel__item {
    width: calc(100% / 2 - 14px) !important;
  }
  .background__img {
    display: none;
  }
  .description__string--text {
    font-size: 1rem !important;
  }
  .description__item {
    gap: 15px;
    flex-direction: column !important;
  }
  .footer__h1 {
    font-size: 1rem !important;
  }
  .footer__h1:hover > .footer__popup {
    width: 300px !important;
  }
  .h1-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__popup {
    text-wrap: nowrap;
  }
  .footer {
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 650px) {
  .description__string {
    min-width: 0 !important;
    margin: 0 !important;
    margin-top: 20px !important;
  }
  .wrapper .carousel {
    min-width: 400px !important;
  }
  .carousel__item {
    width: calc(100% / 2 - 14px) !important;
  }
  .carousel__item--text {
    padding: 45px 0 !important;
    font-size: 1.2rem !important;
  }
  .background__img {
    display: none !important;
  }
  .description__string--text {
    font-size: 0.8rem !important;
  }
  .description__item {
    gap: 15px !important;
    flex-direction: column !important;
  }
  .footer__wrapper {
    padding: 0 !important;
  }
  .footer__h1 {
    font-size: 1rem !important;
  }
  .hero__logo img {
    max-width: 200px;
  }
  .footer {
    justify-content: flex-start !important;
    padding-left: 5px !important;
  }
}
@media screen and (max-width: 400px) {
  .description__string {
    margin: 0 !important;
    padding: 0 !important;
    margin: 20px 0 !important;
  }
  .wrapper .carousel {
    max-width: 400px !important;
    min-width: 0 !important;
  }
  .hero__wrapper {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
  .hero__menu {
    margin-top: -75px !important;
  }
  .carousel__item--text {
    padding: 40px 0 !important;
    font-size: 1.1rem !important;
  }
  .description__string--text {
    font-size: 0.8rem !important;
    margin: 0;
    padding: 0;
  }
  .description__item {
    gap: 15px;
    flex-direction: column !important;
  }
  .footer__wrapper {
    padding: 0 !important;
  }
  .footer__h1 {
    font-size: 1rem !important;
  }
  .footer {
    justify-content: flex-start !important;
  }
}
